# Dependencies
node_modules/
bower_components/

# Builds / Caches
dist/
build/
.cache/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
